<div class="comment" id="<%= "comment-#{comment.id}" %>">
	<%= link_to "x", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>

	<%= comment.user.first_name %>
	<%= comment.updated_at %>
	<%= comment.body %>

</div>