<div class="comment-form">
	<%= form_for (@comment) do |f| %>
		<%= f.text_area :body,  rows: 7 %>
		<%= f.hidden_field :commentable_id %>
		<%= f.hidden_field :commentable_type %>
		
		<%= f.button :submit, :class => "btn btn-primary", :disable_with => "Submitting..." %>
	<% end %>
</div>
