<div class="comment-form"><h5>Comment:</h5>
	<%= form_for (@comment) do |f| %>
		<%= f.text_area :body %>
		<%= f.hidden_field :commentable_id %>
		<%= f.hidden_field :commentable_type %>
		<p></p>
		<%= f.button :submit, :class => "btn btn-primary", :disable_with => "Submitting..." %>
	<% end %>
</div>
