<div id="wrap">
   
   <div id="content">
      <p><strong>Welcome to Codez,</strong> a project app by Tech Talent South students, meant to discuss course topics.</p>

    
    <!-- Recent topics ref'd from all_posts and date/time key -->
    
    <ul class="list-inline"><li><h1>Recent Topics</h1></li>
  <li style="float: right;">
    <%= button_to "Create topic", new_post_path, :class => "btn btn-primary", :method => :get %>
  </li>
</ul>
        <% @posts.each do |post| %>
          
    
    <div class="panel panel-primary">
      <div class="panel-heading">
    <h3 class="panel-title"><%= link_to post.title, post %></h3>
  </div>
  <div class="panel-footer"><%= truncate(post.body, length: 300, omission: '... (continued)') %>
</div>
    <div class="panel-body"><%= render partial: "users/picture", locals: {user: post.user} %>
      Created by <%= link_to post.user.username, post.user %>
    <%= time_ago_in_words(post.created_at) %> ago. | <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
</div>
        
        <% end %>
    </div>
  </div>
  <%= will_paginate %>

