<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%=  @post.title %>
</p>

<p>
  <textarea rows="10" cols="50" disabled="true">
  <%= @post.body %>
</textarea>
</p>


<%=  render :partial => 'comments/form' %>
<%=	 render @comments  %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
