<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    

    <title>CodEZ</title>
    <%= stylesheet_link_tag 'application' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
 <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Page Content -->
     <div class="container">
        <% if logged_in? %>
          <div style="float: left;"><%= link_to "Profile", current_user %>
          <%= link_to "Log out", logout_path, method: "delete" %></div>
        <% else %>
            <div style="float: left;"><h5><%= link_to "Login", login_path %>
            Not registered? <%= link_to "Sign up", register_path %></h5>
          </div>
      <% end %>

    <!-- Search bar -->
    <form style= "float: right; display: block;" id="searchThis" action="/search" style="display: inline;" method="get"><input onfocus="if(this.value==this.defaultValue)this.value='';" value="Search codEZ" type="text" id="searchBox" onblur="if(this.value=='')this.value=this.defaultValue;" vinput="" name="q" /> <input id="searchButton" value="Go" type="submit" />
    </form></br></br>

   <% flash.each do |message_type, message| %>
   <div class=" alert alert-<%= message_type %>"><%= message %></div>
   <% end %>

    <%= yield %>
   

    

   
    
 <%= render 'layouts/footer' %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>



